body {
    background-color: gainsboro;
    overflow-y: scroll;
    overflow-x: hidden;
}

.title {
    font-family: sans-serif;
    margin-top: .75rem;
    text-align: center;
}

.board-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-rows: repeat(8, 4rem);
    grid-template-columns: repeat(8, 4rem); 
       
}

#root {
    display: flex;
    justify-content: center;
}



.message-box {
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 30rem;
    left: 40rem;
    font-weight: 700;
    font-size: 2rem;
}

.new-game-button {
    width: 5rem;
    height: 4rem;
    border: none;
    border: 3px solid black;

}

.new-game-button:hover {
    background-color: white;
    cursor: pointer;
}

.message {
    margin-top: 2rem;
}