body {
    background-color: gainsboro;
}

.title {
    font-family: sans-serif;
    text-align: center;
}

.board-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-rows: repeat(8, 4rem);
    grid-template-columns: repeat(8, 4rem); 
       
}

#root {
    display: flex;
    justify-content: center;
}



.message-box {
    position: relative;
    bottom: 30rem;
    left: 40rem;
    font-weight: 700;
    font-size: 2rem;
}