.tile-container {
   border: 1px solid black;
   width: 4rem;
   height: 4rem;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.tile-container:nth-child() {
    background-color: brown;
}

.piece-image {
    text-align: center;
    width: 3rem;
    height: 3rem;
    
}

